<div class="container">
  <h1 class="title-app">Generador de equipos</h1>

  <div class="container-form-user">
    <mat-form-field class="input-name">
      <mat-label>Nombre del jugador</mat-label>
      <input matInput [formControl]="userName" />
    </mat-form-field>

    <button mat-mini-fab (click)="addUser()" class="button-add-user">
      <mat-icon class="icon-button-add-user">add</mat-icon>
    </button>
  </div>

  <div>
    @if (userList.length > 0) {
    <h3>Jugadores:</h3>
    <ol>
      @for (user of userList; track user; let idx = $index) {
      <li>{{ user }} <mat-icon (click)="deleteUser(idx)">delete</mat-icon></li>
      }
    </ol>
    }
  </div>

  <div class="container-button-generate-team">
    <button
      class="buttonGeneratorTeam"
      style="background-color: #e0e2ec; color: black"
      mat-flat-button
      (click)="generateRandomPairs(this.userList)"
    >
      Generar equipos
    </button>
  </div>

  <div class="row">
    @for (team of teams; track team; let idx = $index) {
    <div class="col">
      <p class="title-team">
        <strong>equipos {{ idx + 1 }}</strong>
      </p>
      <div class="container-team">
        @for (user of team; track user; let idx2 = $index) {
        <p class="name-user">
          {{ user }}
        </p>
        @if (team.length === 2 && idx2 === 0) {<span class="name-user"> - </span
        >} }
      </div>
    </div>
    }
  </div>
</div>
